:root {
  /* Dark Colors */
  --dark-color-100: #1c1c1c;
  --dark-color-80: #000000cc;
  --dark-color-40: #00000066;
  --dark-color-20: #00000033;
  --dark-color-10: #0000001a;
  --dark-color-05: #0000000d;
  /* Light Colors */
  --light-color-100: #ffffff;
  --light-color-80: #ffffffcc;
  --light-color-40: #ffffff66;
  --light-color-20: #ffffff33;
  --light-color-10: #ffffff1a;
  --light-color-05: #ffffff0d;
}

a {
  color: white;
  text-decoration: none;
}
